# Visualization of the conent in data.db

References for this notebook are:
- https://www.pythonsheets.com/notes/python-sqlalchemy.html
- https://towardsdatascience.com/sqlalchemy-python-tutorial-79a577141a91

In [1]:
import sqlalchemy as db
import pandas as pd
from sqlalchemy import select
from sqlalchemy import MetaData
from sqlalchemy import inspect

In [2]:
engine = db.create_engine('sqlite:///data.db')
meta = db.MetaData(engine)
connection = engine.connect()
inspector = inspect(engine)

In [3]:
results = engine.execute('SELECT * FROM '
                        '"shows"')

In [4]:
table_names = inspector.get_table_names()
print(table_names)

['accounts', 'alembic_version', 'artists', 'artists_in_shows', 'disciplines', 'orders', 'places', 'shows']

In [6]:
print(meta.tables)

FacadeDict({})

In [11]:
tablesList = []

for tableName in table_names:
    print(tableName)
    table = meta.tables[tableName]
    query = select([table])
    results = connection.execute(query)
    tablesList.append(results)

accounts
FacadeDict({})

KeyError: 'accounts'

In [8]:
tablesList
df = pd.DataFrame(results)
df

,0,1,2,3,4
0,1,El show de como odiar HTML,2020-05-01 00:00:00.000000,404.0,100
1,2,No dormir y otros efectos de la uni,2020-06-04 00:00:00.000000,10.0,99
2,3,Astronaut in the ocean,2021-02-23 00:00:00.000000,20.0,45

In [9]:
for table in tablesList:
    df = pd.DataFrame(table)
    display(df)

In [10]:
inspector = inspect(engine)
schemas = inspector.get_schema_names()

for schema in schemas:
    print("schema: %s" % schema)
    for table_name in inspector.get_table_names(schema=schema):
        print(table_name)
        for column in inspector.get_columns(table_name, schema=schema):
            print("Column: %s" % column)

schema: main
accounts
Column: {'name': 'username', 'type': VARCHAR(length=30), 'nullable': False, 'default': None, 'autoincrement': 'auto', 'primary_key': 1}
Column: {'name': 'password', 'type': VARCHAR(), 'nullable': False, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
Column: {'name': 'is_admin', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
Column: {'name': 'available_money', 'type': INTEGER(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
alembic_version
Column: {'name': 'version_num', 'type': VARCHAR(length=32), 'nullable': False, 'default': None, 'autoincrement': 'auto', 'primary_key': 1}
artists
Column: {'name': 'id', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': 'auto', 'primary_key': 1}
Column: {'name': 'name', 'type': VARCHAR(length=30), 'nullable': False, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
Column: {'name': 'country', 'type': VARCHAR(length=30), 'nullable': False, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
artists_in_shows
Column: {'name': 'id', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': 'auto', 'primary_key': 1}
Column: {'name': 'artist_id', 'type': INTEGER(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
Column: {'name': 'show_id', 'type': INTEGER(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
disciplines
Column: {'name': 'id', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': 'auto', 'primary_key': 1}
Column: {'name': 'discipline', 'type': VARCHAR(length=7), 'nullable': False, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
Column: {'name': 'artist_id', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
orders
Column: {'name': 'id', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': 'auto', 'primary_key': 1}
Column: {'name': 'username', 'type': VARCHAR(length=30), 'nullable': False, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
Column: {'name': 'id_show', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
Column: {'name': 'tickets_bought', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
places
Column: {'name': 'id', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': 'auto', 'primary_key': 1}
Column: {'name': 'name', 'type': VARCHAR(length=30), 'nullable': False, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
Column: {'name': 'city', 'type': VARCHAR(length=30), 'nullable': False, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
Column: {'name': 'country', 'type': VARCHAR(length=30), 'nullable': False, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
Column: {'name': 'capacity', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
shows
Column: {'name': 'id', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': 'auto', 'primary_key': 1}
Column: {'name': 'name', 'type': VARCHAR(length=30), 'nullable': False, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
Column: {'name': 'date', 'type': DATETIME(), 'nullable': False, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
Column: {'name': 'price', 'type': FLOAT(), 'nullable': False, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
Column: {'name': 'total_available_tickets', 'type': INTEGER(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}